* {
	margin:0;
	padding:0;
}
body, html {
  height: 100%;
  overflow: inherit;
}
ul, ul li{
	margin: 0px;
	padding: 0px;
}
body{
	padding: 50px;
	color: white;
	background-image: url("../../../public/img/background.png");
	background-position: 50% 50%;
}
ul li{
	list-style-type: none;
	display: inline;
	margin: 0px 10%;
	padding: 10px 4%;
}
ul li a{
	color: white;
	text-decoration: none;
}
@media (min-width:1920px) {
	body{
		background-size: cover;
	}
}

@media (max-width:720px) {
	ul{
		text-align: center;
		padding: 0px;
	}
	ul li{
		margin: 0px auto;
		padding: 10px;
		display: block;
	}
}